# Merging Datasets
Use pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 3*.

In [1]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

### Create combined dataset

In [2]:
# rename 2008 columns
df_08.rename(columns = lambda x: x[:] + '_2008', inplace = True)

In [3]:
# view to check names
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [10]:
# merge datasets
df_combined = df_08.merge(df_18, left_on = 'model_2008', right_on = 'model', how = 'inner')

In [13]:
# view to check merge
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 921
Data columns (total 26 columns):
model_2008                   922 non-null object
displ_2008                   922 non-null float64
cyl_2008                     922 non-null int64
trans_2008                   922 non-null object
drive_2008                   922 non-null object
fuel_2008                    922 non-null object
veh_class_2008               922 non-null object
air_pollution_score_2008     922 non-null float64
city_mpg_2008                922 non-null float64
hwy_mpg_2008                 922 non-null float64
cmb_mpg_2008                 922 non-null float64
greenhouse_gas_score_2008    922 non-null int64
smartway_2008                922 non-null object
model                        922 non-null object
displ                        922 non-null float64
cyl                          922 non-null int64
trans                        922 non-null object
drive                        922 non-null object
fuel                         922 non-null object
veh_class                    922 non-null object
air_pollution_score          922 non-null float64
city_mpg                     922 non-null float64
hwy_mpg                      922 non-null float64
cmb_mpg                      922 non-null float64
greenhouse_gas_score         922 non-null int64
smartway                     922 non-null object
dtypes: float64(10), int64(4), object(12)
memory usage: 194.5+ KB

Save the combined dataset

In [12]:
df_combined.to_csv('combined_dataset.csv', index=False)